<mapper namespace="main.java.com.lsw.mybatis.mapper.StudentMapper">

  <select id="findAll" resultType="com.lsw.mybatis.domain.Student">
        SELECT * FROM student ORDER BY id DESC
    </select>
  
  <select id="findById" parameterType="long" resultType="main.java.com.lsw.mybatis.domain.Student">
    SELECT * FROM student WHERE id = #{id}
  </select>
 
  <insert id="insert" parameterType="main.java.com.lsw.mybatis.domain.Student" 
          useGeneratedKeys="true" keyProperty="id">
    INSERT INTO student(NAME, email, age) 
    VALUES (#{name}, #{email}, #{age})
  </insert>
  	
  <update id="update" parameterType="main.java.com.lsw.mybatis.domain.Student">
    UPDATE student
    SET NAME = #{name}, email = #{email}, age = #{age}
    WHERE id = #{id}
  </update>
 
  <delete id="delete" parameterType="long">
    DELETE FROM student WHERE id = #{id}
  </delete>

</mapper>
